@font-face {
  font-family: PF-Agora-Sans-Pro-Light;
  src: url(fonts/pfagorasanspro-light.woff);
}

@font-face {
  font-family: PF-Agora-Sans-Pro-Medium;
  src: url(fonts/pfagorasanspro-medium.woff);
}
