.slider {
  position: relative;
  width: 1050px;
  height: 594px;
  background: url(../img/loveis.png) center center no-repeat;
}

.arrow {
  position: absolute;
  top: 285px;
  width: 32px;
  height: 32px;
  border: 3px solid #dedede;
  border-top: 10px;
  border-right: 10px;
}

.arrow-left {
  left: -40px;
  transform: rotate(45deg);
}

.arrow-right {
  right: -40px;
  transform: rotate(-135deg);
}

.slides {
  height: 100%;
  width: 100%;
}

.slides li {
  list-style: none;
}

li.active {
  position: relative;
  top: 50%;
  left: 50%;
  background-color: #fff;
}

.slide img {
  position: absolute;
  width: 996px;
  height: 524px;
  margin-left: -496px;
  margin-top: -272px;
}

.slider:after {
  content: '';
  position: absolute;
  top: 0;
  right: 66px;
  width: 274px;
  height: 595px;
  background: url(../img/leaf.png) no-repeat;
}