* {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
}

body {
/*  background-color: black;*/
}

.center {
/*  background-color: white;*/
  margin: 0 auto;
  left: 0;
  right: 0;
}

.clearfix:after {
  content: '';
  display: block;
  clear: both;
}